* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #111;
}

a {
  color: #666;
  text-decoration: none;
}

#container {
  margin: 10px auto;
}

#game {
  border-radius: 5px;
  margin-bottom: 10px;
}

.instructions {
  margin: 5px auto;
  text-align: center;
  color: #ccc;
  font-family: 'Play', sans-serif;
}
